body {
  margin: 0;
  padding 0;
}

#main {
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main.dungeon {
  background-image: url(../img/dungeon.jpg);
}
#main.forest {
  background-image: url(../img/forest.jpg);
}
#main.mine {
  background-image: url(../img/mine.jpg);
}
#main.village {
  background-image: url(../img/village.jpg);
}
#main.town {
  background-image: url(../img/town.jpg);
}
#main.mountain {
  background-image: url(../img/mountain.jpg);
}

.cutout {
  width: 30%;
  height: 60%;
  position: fixed;
  bottom: 0;
  left: 35%;
  background: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.buttons-panel {
  background: white;
  margin: auto;
}

.bgButton {
  background: #4880B9;
  border-radius: 25px;
  text-align: center;
  padding : 10px 20px;
  margin: 10px;
  display: inline-block;
  max-width: 100px;

}

.bgButton:hover {
  cursor: pointer;
  background: #5890C9;
}
